* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	background-color: #526d82;

	font-family: 'Open Sans', sans-serif;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

p {
	padding-bottom: 0.3em;
	font-size: 1.5rem;
	color: #2e2e2e;
}

input {
	margin: 0.2em;
	text-align: center;
	height: 1.5em;
	width: 12em;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}

/* .error-bg {
	background-color: rgba(255, 0, 0, 0.5);
} */

.btn {
	margin: 0.2em;
	height: 1.5em;
	width: 12em;
	border: none;
	color: #2e2e2e;
	transition: color 300ms, background 300ms;
	cursor: pointer;

	&:hover {
		background: #27374d;
		color: white;
	}
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.bar {
	margin: 2em;
	height: 1px;
	width: 95%;
	background-color: grey;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3em 2em;
	padding: 10px;
	background-color: white;
	border: 1px solid #2e2e2e;
	border-radius: 10px;
	text-align: center;

	&__bills {
		padding: 1em;

		&-list {
			.list {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.bill-name {
					margin: 0.1em;
					width: 1.5em;
				}

				.bill-price {
					text-align: left;
				}

				.btn-list {
					margin: 0.2em;
					height: 1.5em;
					width: 5em;
					border: none;
					color: #2e2e2e;
					transition: color 300ms, background 300ms;
					cursor: pointer;
	
					&:hover {
						background: #27374d;
						color: white;
					}
				}
			}
		}
	}

	&__header {
		&-title {
			padding: 0.5em 0.5em 0 0.5em;
			font-size: 3.5rem;
			color: #2e2e2e;
		}

		&-info {
			padding: 0.3em 1em;
			font-size: 2rem;
			color: #2e2e2e;

			&:nth-child(2) {
				padding-top: 1.5em;
			}

			&:last-child {
				padding-bottom: 1em;
			}
		}
	}

	&__input {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;

		&-fields {
			display: flex;
			flex-direction: column;
			order: 1;
		}

		.expenses-field {
			order: 2;
		}
	}

	&__error {
		margin: 1em;

		&-msg {
			color: red;
		}
	}

	&__calculations {
		text-align: center;
		.results {
			font-size: 2rem;
			font-weight: bold;
		}

		.result {
			font-size: 1.7rem;
			font-weight: bold;
		}
		.result-persons {
			margin: 1em;
		}

		&-persons {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}
	}
}

@media (min-width: 448px) {
	body {
		height: 100lvh;
		background: linear-gradient(206deg, #27374d, #526d82, #9db2bf);
	}
	.main__input-fields {
		order: 2;
	}
}
